<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanks for Voting!</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

    <!-- <script type="text/javascript" src="/scripts/chart.js"></script> -->

  </head>
  <body>
    <h1>RESULTS PAGE!</h1>
    <section>

    <p><%=templateVars.pollQuestion%></p>
    <p><%=templateVars.results[0].title%></p>
    <p><%=templateVars.results[0].rank%></p>
    <p><%=templateVars.results[1].title%></p>
    <p><%=templateVars.results[1].rank%></p>
    <p><%=templateVars.results[2].title%></p>
    <p><%=templateVars.results[2].rank%></p>

      <script type="text/javascript" src="/scripts/chart.js"></script>
      <canvas id="myChart" width="300px" height="300px"></canvas>
<% for (var result in templateVars.results) { %>
<% if (templateVars.results[result].rank > (templateVars.results[result].rank)+ 1) { %>
<%=templateVars.results[result].rank%>
<%}%>
<%}%>
    </section>

  </body>
</html>
