<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Poppins:300,400" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>InDecision</title>
</head>
<body>
    <div class="sticky-top"><p>In<span id="letter">D</span>ecision</p></div>  <div class="container" >
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm" id="voting">
          <section >
            <div class="question">
                <%=templateVars.getPollsQuestion[0].question%>
            </div>
            <form method="POST" action="/:pollID/vote">
            <ul id="sortable">
                <li id='<%=templateVars.idResults[0].id%>' title='<%=templateVars.getPollOptions[0].title%>' desc='<%=templateVars.getDescriptionOptions[0].description%>' poll_id='<%=templateVars.pollIdResults[0].poll_id%>'>
                  <span class="voting-option"><%=templateVars.getPollOptions[0].title%></span>
                  <span class="voting-description"><%=templateVars.getDescriptionOptions[0].description%></span>
                </li>
                <li id='<%=templateVars.idResults[1].id%>' title='<%=templateVars.getPollOptions[1].title%>' desc='<%=templateVars.getDescriptionOptions[1].description%>' poll_id='<%=templateVars.pollIdResults[1].poll_id%>'>
                    <span class="voting-option"><%=templateVars.getPollOptions[1].title%></span>
                    <span class="voting-description"><%=templateVars.getDescriptionOptions[1].description%></span>
                </li>
                <li id='<%=templateVars.idResults[2].id%>' title='<%=templateVars.getPollOptions[2].title%>' desc='<%=templateVars.getDescriptionOptions[2].description%>' poll_id='<%=templateVars.pollIdResults[2].poll_id%>'>
                    <span class="voting-option"><%=templateVars.getPollOptions[2].title%></span>
                    <span class="voting-description"><%=templateVars.getDescriptionOptions[2].description%></span>
                </li>
              </ul>
              <button type="submit" id="singlebutton" id="voting" name="singlebutton" class="btn btn-primary center-block">Submit</button>
            </form>
          </section>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

   <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Jquery UI -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

  </body>
</html>